# Dependency directories
/node_modules/
/vendor/

# Log files
npm-debug.log
yarn-error.log

# Laravel specific
/.phpunit.result.cache
Homestead.json
Homestead.yaml
.env
.env.backup
.env.production

# Caching and storage
/.phpunit.cache
storage/*.key
bootstrap/compiled.php
app/storage/
/storage/*.key

# IDE specific
/.vscode/
/.idea/
/.fleet

# Vagrant
/.vagrant

# PHPUnit
.phpunit.result.cache
